.container {
    /*border is gonna help to see the space where we are working on*/
    border: 1px green solid; 
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red, .yellow, .blue, .magenta, .green {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
    /* order: 2; */
}

.yellow {
    background-color: yellow;
    /* order: 1; */
    order: -1;
}

.blue {
    background-color: blue;
    align-self: flex-end;
    /* order: 3; */
}

.magenta {
    background-color: magenta;
    align-self: flex-start;
    order: -2;
}

.green {
    background-color: green;
    /* order: 1; */
}
